.about-section{
    padding: 3.5rem 2.5rem 2rem;
}

.profImg {
    border-radius: 40px;
    border-style: groove;
    border-color: black;
    width: 300px;
    height: 250px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    margin-left: 2.5rem;;
    text-align: center;
}

.type-writer {
    padding: 10px;
    margin: 10px;
}