.about-section{
    padding: 150px;
}

.profImg {
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
}
.profImg:before {
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}


.header-text {
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    margin-left: 2.5rem;;
    text-align: center;
}

.type-writer {
    padding: 50px;
    margin: 25px;
    text-align: center;
}