.about-section{
    padding: 150px;
}

.profImg {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border-style: solid;
    border-color: #0a7e8c;
    border-width: 5px;
    width: 300px;
    height: 250px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    margin-left: 2.5rem;;
    text-align: center;
}

.type-writer {
    padding: 50px;
    margin: 25px;
    text-align: center;
}