.contact-section {
    margin-bottom: 45px;
}

.contact-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.contactForm {
    background: #066990;
    border-radius: 40px;
    padding: 15px;
    margin: auto;
    width: 600px;
    height: 500px;
    justify-content: center;
}

.pdfIcon {
    size: 45px;
    color: white;
}

.form-group{
    padding: 15px;
}
.form-btn {
    size: 35px;
    color: black;
    padding: 15px;
    border-radius: 10px;
    background: #D5DDDF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.form-btn:hover {
    /* box-shadow: 3px solid gainsboro; */
    cursor: pointer;
}